.del-modal {
  background-color: #ffffff;
  color: #252525;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.del-modal button {
  background-color: #ff0000;
  border: 3px solid #ff0000;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  transition: all .2s linear;
}
.del-modal button:hover {
  background-color: #252525;
  border-color: #252525;
}