.testAudio {
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  background-color: red;
  z-index: 5;
}
.songTitle { color: #252525 }
.rhap_container {
  background-color: #ffffff;
  padding: 10px 20%;
}
.rhap_time { color: #888 }
.rhap_progress-filled, .rhap_volume-filled {
  background-color: red;
  background-image: url('https://res.cloudinary.com/dzsgront4/image/upload/v1649381246/Untitled_1_fbdypx.svg');
  background-size: 100px;
}
.rhap_progress-indicator { background-color: #252525 }
.rhap_volume-indicator { background-color: #f00 }
.rhap_main-controls svg { --control-color: #252525 }
.rhap_main-controls svg:hover { --control-color: #ff0000 }
.rhap_main-controls path { color: var(--control-color) }
.rhap_volume-container svg { color: #252525 }
.rhap_volume-container svg:hover { color: #f00 }

#player-info {
  display: flex;
  align-items: center;
}