footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 15% 75px 15%;
  padding: 5px 20px;
  border-top: 3px double #cccccc;
  box-sizing: border-box;
  width: 70%;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer div a {
  margin-left: 5px;
  color: #252525;
}
footer div a:hover {
  color: #ff0000;
}