@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  margin: 0;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
.songList{
  width:100%;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 75px;
  margin-top: 75px;
}
.songItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid #cccccc;
  width: 60%;
  color: #252525;
  padding: 5px 10px;
  cursor: pointer;
  /* filter: grayscale(100%) */
  --img-blur: blur(1px);
}
.songItem:hover {
  color: #ff0000;
  /* filter: grayscale(0%) */
  border-color: #ff0000;

  --img-blur: blur(0px);
}
.songpage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.songpage img {
  height: 100px; width: 100px;
  margin: 5px 0; 
  border-radius: 5px;
  border: 1px solid #dddddd;
  filter: var( --img-blur )
}
.songpage h2 {
  margin-left: 15px;
}
.userInfo {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: #252525;
}
.userInfo p {
  align-self: flex-end;
}
.userInfo p:hover {
  color: #ff0000;
}
.userIcons {
  align-self: flex-end;
}
.userIcons i, .userIcons a {
  padding: 0 5px;
  color: #cccccc;
}
.userIcons i:hover{
  color: #252525
}

@media screen and (max-width: 1000px) {
  .songList {
    padding: 0;
    width: 100%;
  }
  .songItem {
    flex-direction: column;
    width: 100%;
  }
  .songpage {
    width: 100%;
    padding-right: 15px;
  }
  .userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }
  .userInfo p {
    align-self: center;
    width: 45vw;
  }
  .userIcons {
    align-self: inherit;
    width: 45vw
  }
}