form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px 20px;
  grid-template-areas:
  'error cred'
  'error pass'
  'error subm';
  align-items: center;
  justify-content: right;

  width: auto;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 0 4px 0 #888888;
}
#login-errors {
  grid-area: error;
  align-self: center;
  height: 100%;
  padding: 5px;

  list-style: none;
  font-weight: bold;
  color: red;
}
#login-cred {
  grid-area: cred;
  text-align: right;
}
#login-pass {
  grid-area: pass;
  text-align: right;
}
#login-subm {
  grid-area: subm;
  width: 177px;
  place-self: end;

  border: 2px solid #c6a9d7;
  background-color: #c6a9d7;
  border-radius: 5px;
  box-shadow: 4px 0 4px 0 #888888;
  font-weight: bold;
  padding: 2px;
  color: #ffffff;
}
#login-subm:hover {
  border: 2px solid #c6a9d7;
  background-color: #ffffff;
  color: #c6a9d7;
}