header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20%;
  box-shadow: 5px 0px 5px 5px #aaaaaa;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 5;
  box-sizing: border-box;
}
header a {
  text-decoration: none;
  color: #252525;
}
header a:hover {
  color: #ff0000;
}
.login-signup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.signup-btn a {
  background-color: #ff0000;
  border: 2px solid #ff0000;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: all .2s linear;
}
.signup-btn a:hover {
  background-color: #252525;
  border-color: #252525;
  color: #ffffff;
}
#user-btn {
  background-color: #ffffff;
  border: 1px solid transparent;
  cursor: pointer;
  color: #252525;
  transition: all .2s linear;
}
#user-btn:hover {
  color: #ff0000;
}
.profile-dropdown {
  position: absolute;
  top: 100%;
  max-width: 150px;
  text-align: center;
  padding: 10px;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #252525;
  background-color: #ffffff;
}
.profile-dropdown .user { font-weight: bold; }
.signOut {
  background-color: #ff0000;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  transition: all .2s linear;
}
.signOut:hover { 
  background-color: #cc0000;
}
.userInfo {
  display: flex;
  align-items: center;
}
.userActions {
  display: flex;
  align-items: center;
}
.upload {
  background-color: transparent;
  border: 1px solid #ff0000;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 10px;
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
  transition: all .2s linear;
  cursor: pointer;
}
.upload:hover {
  background-color: #252525;
  border-color: #252525;
  color: #ffffff;
}